<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://image2.geekbuying.com/ggo_pic/2018-12-26/20181226018661279yhr1.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Honor V20</h3>
                <p class="description">The Honor V20 runs MagicUI 2.0.1 based on Android 9.0 and packs 128GB of inbuilt storage. The Honor V20 is a dual-SIM smartphone that accepts Nano-SIM and Nano-SIM cards.  Connectivity options on the Honor V20 include Wi-Fi, GPS, Bluetooth v5.00, and USB Type-C. Sensors on the phone include fingerprint sensor.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <div><a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://image2.geekbuying.com/ggo_pic/2018-12-26/20181226018661279yhr1.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Honor V20</h3>
                <p class="description">The Honor V20 runs MagicUI 2.0.1 based on Android 9.0 and packs 128GB of inbuilt storage. The Honor V20 is a dual-SIM smartphone that accepts Nano-SIM and Nano-SIM cards.  Connectivity options on the Honor V20 include Wi-Fi, GPS, Bluetooth v5.00, and USB Type-C. Sensors on the phone include fingerprint sensor.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://image2.geekbuying.com/ggo_pic/2018-12-26/20181226018661279yhr1.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Honor V20</h3>
                <p class="description">The Honor V20 runs MagicUI 2.0.1 based on Android 9.0 and packs 128GB of inbuilt storage. The Honor V20 is a dual-SIM smartphone that accepts Nano-SIM and Nano-SIM cards.  Connectivity options on the Honor V20 include Wi-Fi, GPS, Bluetooth v5.00, and USB Type-C. Sensors on the phone include fingerprint sensor.</p>
                <div class="clearfix ">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://image2.geekbuying.com/ggo_pic/2018-12-26/20181226018661279yhr1.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Honor V20</h3>
                <p class="description">The Honor V20 runs MagicUI 2.0.1 based on Android 9.0 and packs 128GB of inbuilt storage. The Honor V20 is a dual-SIM smartphone that accepts Nano-SIM and Nano-SIM cards.  Connectivity options on the Honor V20 include Wi-Fi, GPS, Bluetooth v5.00, and USB Type-C. Sensors on the phone include fingerprint sensor.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://image2.geekbuying.com/ggo_pic/2018-12-26/20181226018661279yhr1.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Honor V20</h3>
                <p class="description">The Honor V20 runs MagicUI 2.0.1 based on Android 9.0 and packs 128GB of inbuilt storage. The Honor V20 is a dual-SIM smartphone that accepts Nano-SIM and Nano-SIM cards.  Connectivity options on the Honor V20 include Wi-Fi, GPS, Bluetooth v5.00, and USB Type-C. Sensors on the phone include fingerprint sensor.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://image2.geekbuying.com/ggo_pic/2018-12-26/20181226018661279yhr1.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Honor V20</h3>
                <p class="description">The Honor V20 runs MagicUI 2.0.1 based on Android 9.0 and packs 128GB of inbuilt storage. The Honor V20 is a dual-SIM smartphone that accepts Nano-SIM and Nano-SIM cards.  Connectivity options on the Honor V20 include Wi-Fi, GPS, Bluetooth v5.00, and USB Type-C. Sensors on the phone include fingerprint sensor.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>