<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<br><br>
<div class="container">
    <alert class="alert alert-primary">
        We are one of the leading websites in providing platforms for publishing articles.
    </alert>
</div>
<br><br>
<div class="container">
    <alert class="alert alert-dark">
        We are one of the leading websites in providing platforms for publishing articles.  
    </alert> 
</div>
<br><br>
<div class="container">
    <alert class="alert alert-warning">
        We are one of the leading websites in providing platforms for publishing articles.
    </alert> 
</div>
<br><br>
<div class="container">
    <alert class="alert alert-danger">
        We are one of the leading websites in providing platforms for publishing articles.
    </alert> 
</div>
<br><br>
<div class="container">
    <alert class="alert alert-info">
        We are one of the leading websites in providing platforms for publishing articles.
    </alert> 
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}